@model PFD_Assignment.Models.Post

@{
	ViewData["Title"] = "Create";
}
<h4 class="PageTitle">Create guide</h4>
<hr />



<form asp-action="Create" method="post" onsubmit="return validateContent()">

	<fieldset class="FormContent">
		<div class="row mb-3 create-fields">
			<label asp-for="PostTitle"
				   class="col-sm-3 col-form-label" ></label>
			<div class="col-sm-9 col-md-5">
				<input asp-for="PostTitle" class="form-control" />
				<span asp-validation-for="PostTitle"
					  class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3 create-fields">
			<label asp-for="PostDesc"
				   class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9 col-md-5">
				<input asp-for="PostDesc" class="form-control" />
				<span asp-validation-for="PostDesc"
					  class="text-danger"></span>
			</div>
		</div>
		<div class="row mb-3 create-fields">
			<label asp-for="PostContent"
				   class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9 col-md-5" style="display: flex; flex-direction: column; align-items: flex-start;">
				<textarea asp-for="PostContent" class="form-control" style="flex-grow: 1; box-sizing: border-box; height: 100px"></textarea>
				<span asp-validation-for="PostContent" class="text-danger"></span>
			</div>
	</div>
		
		<div id="apiKeyContainer" data-api-key="@ViewBag.ApiKey">
			<button type="button" onclick="validatePostContent()">Validate</button>
		</div>
		
		
		

		
		<div class="row mb-3">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
	</fieldset>
</form>

<div class="back-to-list-button">
			
	<a asp-action="Index">Back to List</a>

</div>



