@model IEnumerable<PFD_Assignment.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Guides</h4>

<a asp-action="Create" class="btn btn-primary">Create New Guide</a>



<!-- Add a partial view to display a list of staff records
in a tabular format. -->
<partial name="~/Views/Guide/_ViewGuides.cshtml" model="@Model" />