@model IEnumerable<PFD_Assignment.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-3">
        <h2 style="padding-left: 10px;">Filter</h2>
        <hr style="border-top: dotted 1px; margin-left: 10px;" />
        <a style=" "href="#" id="sort-newest">Sort Newest to Oldest</a> <br />

        <a href="#" id="sort-oldest">Sort Oldest to Newest</a> <br />

        <a href="#" id="sort-mostliked">Sort Most to Least Liked</a> <br />

        <a href="#" id="sort-leastliked">Sort Least to Most Liked</a> <br />

    </div>
    <div class="col-sm-9">
        <h2>Dashboard</h2>
        <h4 class="PageTitle">Guides</h4>

        <a asp-action="Create" class="btn btn-primary">Create New Guide</a><br />
        @if (Context.Session.GetString("MemberID") == null)
        {
            <div style="color: red; font-weight: 500;">
            @TempData["Message"]
            </div>
        }
        <partial name="~/Views/Guide/_ViewGuides.cshtml" model="@Model" />
    </div>
</div>


@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}
