@model IEnumerable<PFD_Assignment.Models.Post>



@{
    ViewData["Title"] = "Index";
}

<h4 class="PageTitle">Guides</h4>




<!-- Add a partial view to display a list of staff records
in a tabular format. -->
<partial name="~/Views/Guide/_ViewGuides.cshtml" model="@Model" />

