@model IEnumerable<PFD_Assignment.Models.Announcements>

@{
	ViewData["Title"] = "View Announcements";
}

<h4 class="PageTitle">View Announcements</h4>

<partial name="~/Views/Admin/_ViewAnnouncements.cshtml" model="@Model" />

