@{
    ViewData["Title"] = "Index";
}

@model PFD_Assignment.Models.Announcements

<!DOCTYPE html>
<html>
<body>
    <div>
        @* <div class="mySlides w3-container w3-red">
            <h1><b>Did You Know?</b></h1>
            <h1><i>We plan to sell trips to the moon in the 2020s</i></h1>
        </div>
        <img class="mySlides" src="~/images/sgbackground.jpg" style="width:100%"> 
        <img class="mySlides" src="~/images/sgbackground2.jpg" style="width:100%"> *@

        @if (Model != null)
        {
                <div id="notification-bar" class="notification-bar">
                    <b><p>@Html.Raw(Model.AnnouncementTitle) :</p></b>
                    <p>@Html.Raw(Model.AnnouncementContent)</p>
                    <button onclick="closeNotificationBar()">X</button>
                </div>
        }

	</div>
    <div class="home">
        <img class="bgimg" src="~/images/sgbackground.jpg"></img>
        <div class="content">
            <h2 id="title" class="title" style="font-size:50px"><b>SG Handbook</b></h2>
            <p class="para" style="font-size:23px;">
                A simple one stop handbook for the elderly
            </p>

        </div>
    </div>
    <div class="aboutUs" id ="aboutUs">
        <div class="content">
            <b>
                <h2 id="title" class="title">About Us</h2>
                <p class="aboutPara">
                    We are SG Handbook, a simple one stop handbook that aims to help you answer any questions you may have.
                     If you have questions, we have the answers.
                </p>
                <h3 id="title" class="title">Contact</h3>
                <p class="aboutContact">
                    (+65) 9999 9999
                </p>
                <h3 id="title" class="title">Email</h3>
                <p class="aboutEmail">
                    SGHandbook@gmail.com 
                </p>
            </b>
        </div>
    </div>
</body>
</html>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}

<script>
    function closeNotificationBar() {
        var bar = document.getElementById('notification-bar');
        bar.style.display = 'none';
    }
</script>

<style>
    .notification-bar {
        background-color: lightsalmon; 
        color: white; 
        padding: 10px;
        text-align: center;
        padding: 10px 0; 
        position: relative; 
        width: 100%;
        z-index: 9; 
    }

        .notification-bar p {
            margin: 0;
            display: inline;
        }

        .notification-bar button {
            background: none;
            border: none;
            color: white;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

    .notification-bar-hide {
        display: none;
    }
</style>

        
