@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<body>
    <div class="home">
        <img class="bgimg" src="~/images/sgbackground.jpg"></img>
        <div class="content">
            <h2 id="title" class="title" style="font-size:50px"><b>SG Handbook</b></h2>
            <p class="para" style="font-size:23px;">
                A simple one stop handbook for the elderly
            </p>

        </div>
    </div>
    <div class="aboutUs" id ="aboutUs">
        <div class="content">
            <b>
                <h2 id="title" class="title">About Us</h2>
                <p class="aboutPara">
                    We are SG Handbook, a simple one stop handbook that aims to help you answer any questions you may have.
                     If you have questions, we have the answers.
                </p>
                <h3 id="title" class="title">Contact</h3>
                <p class="aboutContact">
                    (+65) 9999 9999
                </p>
                <h3 id="title" class="title">Email</h3>
                <p class="aboutEmail">
                    SGHandbook@gmail.com 
                </p>
            </b>
        </div>
    </div>
</body>
</html>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}
