@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<body>
    <div class="home">
        <img class="bgimg" src="~/images/sgbackground.jpg"></img>
        <div class="content">
            <h2 id="title" class="title">Welcome to SG Handbook</h2>
            <p class="para" , style="font-weight: bold;">
                You have questions, we have the answers
            </p>

        </div>
    </div>
    <div class="aboutUs" id ="aboutUs">
        <div class="content">
            <b>
                <h2 id="title" class="title">About Us</h2>
                <p class="aboutPara">
                    We are SG Handbook, a one stop web portal application that aims to help you answer any questions you may have.
                </p>
                <h3 id="title" class="title">Contact</h3>
                <p class="aboutContact">
                    (+65) 9999 9999
                </p>
                <h3 id="title" class="title">Email</h3>
                <p class="aboutEmail">
                    SGHandbook@gmail.com 
                </p>
                <div id="apiKeyContainer" data-api-key="@ViewBag.ApiKey">
                <button type="button" onclick="callOpenAIModel()">Test</button>
                </div>
                <button onclick="showMessage()">Show Message</button>
            </b>
        </div>
    </div>
</body>
</html>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}

@if (@ViewBag.apiKey != null)
{
    Console.WriteLine(ViewBag.apiKey);
}
else
{
    Console.WriteLine("invalid");
}