<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SG HandBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PFD_Assignment.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container-fluid" id="navbar">
        <!-- The brand(or icon) of the navbar -->
        <a class="navbar-brand" href="~/Home/Index"
           style="font-size:32px; font-weight:bold; color:firebrick;">
            <img class="navimg" src="~/images/sgbook.jpg" width="50" height=auto style="margin-bottom:13px;" alt="SG Handbook Logo">
            SG Handbook
        </a>
        <!-- Toggle/collapsible Button, also known as hamburger button -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#IndexNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links in navbar, displayed as drop-down list when collapsed -->
        <div class="collapse navbar-collapse" id="IndexNavbar" style="font-size:20px;">
            <!-- Links that are aligned to the left,
            me-auto: margin-end, i.e., right margin, auto-adjusted -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/AdminMain">
                        Announcements
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/PinGuide">
                        Guides
                    </a>
                </li>
            </ul>
            <!-- Links aligned to the right,
                 ms-auto: margin-start, i.e., left margin, auto-adjusted -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- A link for logging out user -->
                    <a class="nav-link" href="~/Home/LogOut">Log Out</a>
                </li>
                <li class="nav-item">
                    <div class="fontbuttongrp">
                        <button class="fontButton" onclick="changeFontSize(1.05)">+A</button>
                        <button class="fontButton" onclick="changeFontSize(0.95)">-A</button>
                        <script>
                            function changeFontSize(newSize) {
                                var allTextElements = document.querySelectorAll('p, h1, h2, h3, h4, h5, h6, span, div, a, li, td, th');

                                allTextElements.forEach(function (element) {
                                    var currentSize = parseFloat(window.getComputedStyle(element, null).getPropertyValue('font-size'));
                                    var newSizeValue = currentSize * newSize;
                                    element.style.fontSize = newSizeValue + "px";
                                });
                            }
                        </script>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="google_translate_element">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</nav>

<style>
    .fontbuttongrp {
        display: flex;
        border-radius: 25px; /* This creates the rounded corners for the container */
        overflow: hidden; /* Ensures child elements do not spill outside the border */
    }

    .fontButton {
        flex: 1; /* Ensures buttons have equal width */
        padding: 10px 20px;
        border: none;
        background-color: lightgray; /* The background color for buttons; use your own color */
        color: black; /* Text color for buttons */
        cursor: pointer;
        border-right: 1px solid #000;
    }

        .fontButton:hover {
            background-color: grey;
        }


    .nav-item {
        margin-right: 10px !important; /* Creates space between nav items */
    }

    #google_translate_element {
        margin-left: 10px; /* Creates space between the font buttons and translate element */
    }
</style>