<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SG HandBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PFD_Assignment.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="container-fluid" id="navbar">
        <!-- The brand(or icon) of the navbar -->
        <a class="navbar-brand" href="~/Home/Index"
           style="font-size:32px; font-weight:bold; color:firebrick;">
            <img class="navimg" src="~/images/sgbook.jpg" width="50" height=auto style="margin-bottom:13px;" alt="SG Handbook Logo">
            SG Handbook
        </a>
        <!-- Toggle/collapsible Button, also known as hamburger button -->
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#IndexNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links in navbar, displayed as drop-down list when collapsed -->
        <div class="collapse navbar-collapse" id="IndexNavbar" style="font-size:20px;">
            <!-- Links that are aligned to the left,
            me-auto: margin-end, i.e., right margin, auto-adjusted -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index#aboutUs">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Guide/Index">
                        Guides
                    </a>
                </li>
            </ul>
            <!-- Links aligned to the right,
                 ms-auto: margin-start, i.e., left margin, auto-adjusted -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- A link for logging out user -->
                    <a class="nav-link" href="~/Home/Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <!-- A link for logging out user -->
                    <a class="nav-link" href="~/Home/LogOut">Log Out</a>
                </li>

                <li class="nav-item">
                    <div class="fontbuttongrp">
                        <button class="fontButton" onclick="changeFontSize(1.05)" >+A</button>
                        <button class="fontButton" onclick="changeFontSize(0.95)">-A</button>
                        <script>
                            function changeFontSize(scaleFactor) {
                                var allTextElements = document.querySelectorAll('p, h1, h2, h3, h4, h5, h6, span, div, a, li, td, th');
                                allTextElements.forEach(function (element) {
                                    var currentSize = parseFloat(window.getComputedStyle(element, null).getPropertyValue('font-size'));
                                    var newSize = currentSize * scaleFactor;
                                    element.style.fontSize = newSize + "px";
                                });

                                // Save the font size preference to localStorage
                                var exampleElement = document.querySelector('p'); // Use any representative text element
                                var savedFontSize = parseFloat(window.getComputedStyle(exampleElement, null).getPropertyValue('font-size'));
                                localStorage.setItem('fontSize', savedFontSize);
                            }

                            function applySavedFontSize() {
                                var savedFontSize = localStorage.getItem('fontSize');
                                if (savedFontSize) {
                                    var allTextElements = document.querySelectorAll('p, h1, h2, h3, h4, h5, h6, span, div, a, li, td, th');
                                    allTextElements.forEach(function (element) {
                                        element.style.fontSize = savedFontSize + "px";
                                    });
                                }
                                savedFontSize = 120; // Set your preferred default font size in pixels
                            
                            }

                            // Apply saved font size on page load
                            window.onload = function () {
                                applySavedFontSize();
                                console.log("Page loaded");
                            };
                        </script>
                    </div>
                </li>




                <li class="nav-item">
                    <div id="google_translate_element">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</nav>

<style>
   

    .nav-item {
        margin-right: 10px !important; /* Creates space between nav items */
    }

    #google_translate_element {
        margin-left: 10px; /* Creates space between the font buttons and translate element */
    }
</style>